.btn-calculator {
  width: 80px;
  height: 50px;
  font-size: 20px;
}
#resultado {
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(253, 243, 243);
  border-radius: 5px;
  border: 2px solid black
}

#numero1{
    background-color: rgb(253, 243, 243);
}


#numero2{
    background-color: rgb(253, 243, 243);
}